<!DOCTYPE html>
<html lang="en">
  <%- include(`components/heading.ejs`, {title: 'Players List'}) %>
  <body>
    <div class="container">
      <h1 class="text-center text-muted">All Player</h1>
        
      <div class="row">
        <div class="col">
          <a href="/home">
            <button class="btn btn-warning">Back</button>
          </a>

          <a href="/players/add">
            <button class="btn btn-primary">Add Player</button>
          </a>
        </div>
        <div class="col">
          <form action="/players" method="get">
            <select class="form-select-sm" name="position">
              <option selected disabled>--Position--</option>
              <option value="Striker">Striker</option>
              <option value="Midfielder">Midfielder</option>
              <option value="Defender">Defender</option>
              <option value="Goalkeeper">Goalkeeper</option>
            </select>
            <button class="btn btn-info" type="submit">Filter</button>
          </form>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Position</th>
            <th>Nationality</th>
            <th>Rating</th>
            <th>Club</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((el, i) => { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= el.nameAndAge() %></td>
            <td><%= el.position %></td>
            <td><%= el.nationality %></td>
            <td><%= ratingConverter(el.rating) %></td>
            <td><%= el.Club.name %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
